* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(37, 37, 37);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p :last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(37, 37, 37)
}

h1 {
    font-size: 30px;
    line-height: 50px;
    border-bottom: 5px solid #fff;
    padding-bottom: 20px;
}
h2, h3 {
    font-size: 25px;
}

#main-header {
    background: #fff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
}

#header-logo {
    width: 250px;
    height: 90px;
    background: #727272;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a{
    color: #999999;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #fff;
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
} 

#main-container {
    padding-top: 125px;
}

.about-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 35px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ccc;
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: none;
    margin-right: 20px;
}

#find-me {
    background: #fff;
    padding: 25px;
    width: 100%;
    max-width: 250px;
    float: right;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

h2, #find-me {
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}

.links {
    width: 60px;
    height: 60px;
    margin-top: 8px;
    margin-right: 8px;
}

.links:last-child {
    margin-right: 0;
}

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #727272;
    color: #ccc;
    font-size: 12px;
    text-align: center;
}

.projects {
    width: 275px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20x 0 25px;
}

.projects:nth-child(even) {
    margin-right: 40px;
}

.projects img {
    width: 100%;
    border: 0 none;

}

.projects h3 {
    border-bottom: 0;
    background: #cacaca;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 5px;
    margin-bottom: 0;
    font-weight: 300;
}